body {
    background: #2A5D5A;


}


.header {
    background: #311313;
    padding: 23px 22.5px;
    width: 636px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    transition: all ease 0.3s;

}

.header:hover {
    background: #ffffff;
    padding: 23px 22.5px;
    width: 636px;
    text-align: center;
    color: #311313;
    border-radius: 20px;
    transition: all ease 0.3s;

}

.header-box {
    display: flex;
    justify-content: center;
}

.container {
    border: 10px solid red;
    background-color: black;
    width: 1000px;
    height: 638px;
    padding: 10px;
    margin: 0 auto;



}

.box1 {
    color: #fff;
    background-color: #1FE8B7;
    width: 896px;
    margin: 0 auto;
    padding: 54px 39px;
    margin-top: 45px;

}

.text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: justified;
    color: #000;
}